<h1>Heart Rate: Choose Upload Start Time</h1>

<%= simple_form_for :user, url: users_path, wrapper: :input_group do |f| %>
	<%= f.input :start_time, 
		label: "Start Time", 
		append: icon('fas', 'calendar'),
		input_group_tag_html: { id: 'datetimepicker1', data: { target_input: 'nearest' } },
		input_html: { 
			class: 'datetimepicker-input',
			data: { target: '#datetimepicker1' },
			readonly: true,
			value: @start_time ? @start_time : nil
		},
		input_group_append_html: { data: { target: '#datetimepicker1', toggle: 'datetimepicker' } } %>
	<%#= f.input :end_time, append: icon('fas', 'calendar'),
		input_group_tag_html: { id: 'datetimepicker2', data: { target_input: 'nearest' } },
		input_html: { class: 'datetimepicker-input', data: { target: '#datetimepicker2' }, readonly: true },
		input_group_append_html: { data: { target: '#datetimepicker2', toggle: 'datetimepicker' } } %>
	<%= f.button :submit, "Request", class: "btn btn-primary" %>
	<%= f.button :submit, 'Download Excel', class: "btn btn-success" %>
<% end %>

<div>
	<h2>Debugging</h2>
	<ul>
		<li><%= current_user.id %></li>
		<li><%= current_user.user_access_token %></li>
		<li><%= @debugging_start_time.to_i %></li>
		<li><%= @debugging_end_time.to_i %></li>
	</ul>
</div>

<div>
	<%= line_chart @chart %>
</div>

<pre>
	<code>
		<% if @result %>
<%= JSON.pretty_generate @result %>
		<% else %>
<%= JSON.pretty_generate({ message: 'No result' }) %>
		<% end %>
	</code>
</pre>